@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<a asp-page="/Register" class="ButtonStandard">
    <span>Register</span>
</a>
<a asp-page="/Login" class="ButtonStandard">
    <span>Login</span>
</a>
<a href="/htmlpage.html" class="ButtonStandard">
    <span>RegisterJS</span>
</a>
