@page
@model Rhytm.Pages.RegisterModel
@{
}

<h2>Register</h2>
<form method="post">
	<div>
		<label>Username:</label>
		<input asp-for="user.Name" />
		<span asp-validation-for="user.Name"></span>
	</div>
	<div>
		<label>Email:</label>
		<input asp-for="user.Email" />
		<span asp-validation-for="user.Email"></span>
	</div>
	<div>
		<label>Password:</label>
		<input asp-for="user.Password" />
		<span asp-validation-for="user.Password"></span>
	</div>
	<button type="submit">Sign up</button>
</form>

@if (Model.message != null)
{
	<p>@Model.message</p>
}

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}