@page
@model Rhytm.Pages.RegisterModel
@{
}

<div style="display:flex; justify-content:center">
	<form method="post" class="SingleColumn">
		<h2 style="font-size:32px">Реєстрація</h2>
		<div class="InputForm">
			<div class="InputField">
				<label>Username</label>
				<input asp-for="user.Name" autocomplete="off" />
				<span asp-validation-for="user.Name" class="ValidationMessage"></span>
			</div>
			<div class="InputField">
				<label>Email</label>
				<input asp-for="user.Email" autocomplete="off" />
				<span asp-validation-for="user.Email" class="ValidationMessage"></span>
			</div>
			<div class="InputField">
				<label>Password</label>
				<input asp-for="user.Password" autocomplete="off" />
				<span asp-validation-for="user.Password" class="ValidationMessage"></span>
			</div>
			<div class="InputField">
				<label>Confirm password</label>
				<input asp-for="ConfirmPasswordField" autocomplete="off" />
				<p class="ValidationMessage">@Model.ConfirmPasswordMessage</p>
			</div>
		</div>
		<button class="ButtonStandard" type="submit">Sign up</button>
	</form>
</div>



@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}